<div class="row">
  <div class="col">
    <h3>Hijo</h3>
    <code> @Input() contadorHijo = {{ contadorHijo }}; </code>

    <code> @Output() contadorPadre = new EventEmitter(); </code>
  </div>
</div>

<div class="row mb-2">
  <div class="col">
    <button (click)="multiplicar()" class="btn">* Multiplicar</button>
    <button (click)="dividir()" class="btn">/ Dividir</button>
  </div>
</div>

<div class="row contenedor nieto">
  <div class="col">
    <app-nieto
      (resetContador)="resetContador($event)"
      [contadorNieto]="contadorHijo"
    ></app-nieto>
  </div>
</div>
