<div class="contenedor padre">
  <div class="row">
    <code class="selector"> &#60;app-padre&#62; &#60;/app-padre&#62; </code>
    <div class="col">
      <h1>Padre</h1>

      <code>
        public contador = <span class="contador">{{ contador }}</span
        >;
      </code>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col">
      <button (click)="incrementar()" class="btn">+ Increment</button>
      <button (click)="decrementar()" class="btn">- Decrement</button>
    </div>

    <code> this.contador += 1; </code>
    <code> this.contador -= 1; </code>
  </div>

  <div class="row contenedor hijo">
    <div class="col">
      <code class="selector">
        &#60;app-hijo (contadorPadre)="contador = $event"
        [contadorHijo]="contador" &#62; &#60;/app-hijo&#62;
      </code>
      <app-hijo
        (contadorPadre)="contador = $event"
        [contadorHijo]="contador"
      ></app-hijo>
    </div>
  </div>
</div>
